$border-radius: 6px;
$background: #252e3a;
$elevation: #101214;
$elevation_2: #404547;
$text_color: #fff;

$spinnercolor: rgb(24, 99, 240);

$text_shadow: 1px 1px 5px #000;
$box_shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);

$max-height-destop: 900px;

$border: 1px solid rgba(255, 255, 255, 0.2);
$card-header-gap: 1rem;
